In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Data = pd.read_csv(r"C:\Users\ayaan\OneDrive\Desktop\Crime Rate Analysis Across Countries\hci_crime_752_pl_co_re_ca_2000-2013_21oct15-ada.csv")

C:\Users\ayaan\AppData\Local\Temp\ipykernel_7888\4165008362.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Data = pd.read_csv(r"C:\Users\ayaan\OneDrive\Desktop\Crime Rate Analysis Across Countries\hci_crime_752_pl_co_re_ca_2000-2013_21oct15-ada.csv")

In [ ]:
Data.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_fips,county_name,...,denominator,rate,ll_95ci,ul_95ci,se,rse,ca_decile,ca_rr,dof_population,version
0,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
1,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
2,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
3,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33873086.0,10/21/2015
4,752,"Number of Violent Crimes per 1,000 Population",2000.0,9.0,Total,CA,6.0,California,NaN,NaN,...,33847694.0,6.217499,6.190935,6.244063,0.013553,0.217985,NaN,1.0,33873086.0,10/21/2015

In [ ]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49227 entries, 0 to 49226
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ind_id                  49227 non-null  object
 1   ind_definition          49226 non-null  object
 2   reportyear              49226 non-null  float64
 3   race_eth_code           49226 non-null  float64
 4   race_eth_name           49226 non-null  object
 5   geotype                 49226 non-null  object
 6   geotypevalue            49226 non-null  float64
 7   geoname                 49226 non-null  object
 8   county_fips             48176 non-null  float64
 9   county_name             48176 non-null  object
 10  region_code             49156 non-null  float64
 11  region_name             49156 non-null  object
 12  strata_name_code        49226 non-null  float64
 13  strata_name             49226 non-null  object
 14  strata_level_name_code  49226 non-null  float64
 15  strata_level_name       49226 non-null  object
 16  numerator               32293 non-null  float64
 17  denominator             37090 non-null  float64
 18  rate                    7323 non-null   float64
 19  ll_95ci                 7323 non-null   float64
 20  ul_95ci                 7323 non-null   float64
 21  se                      7323 non-null   float64
 22  rse                     7323 non-null   float64
 23  ca_decile               6301 non-null   float64
 24  ca_rr                   7323 non-null   float64
 25  dof_population          38660 non-null  float64
 26  version                 49226 non-null  object
dtypes: float64(17), object(10)
memory usage: 10.1+ MB

In [ ]:
Data.isnull().sum()

ind_id                        0
ind_definition                1
reportyear                    1
race_eth_code                 1
race_eth_name                 1
geotype                       1
geotypevalue                  1
geoname                       1
county_fips                1051
county_name                1051
region_code                  71
region_name                  71
strata_name_code              1
strata_name                   1
strata_level_name_code        1
strata_level_name             1
numerator                 16934
denominator               12137
rate                      41904
ll_95ci                   41904
ul_95ci                   41904
se                        41904
rse                       41904
ca_decile                 42926
ca_rr                     41904
dof_population            10567
version                       1
dtype: int64

In [ ]:
Data = Data.dropna()

In [ ]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6251 entries, 300 to 49154
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ind_id                  6251 non-null   object
 1   ind_definition          6251 non-null   object
 2   reportyear              6251 non-null   float64
 3   race_eth_code           6251 non-null   float64
 4   race_eth_name           6251 non-null   object
 5   geotype                 6251 non-null   object
 6   geotypevalue            6251 non-null   float64
 7   geoname                 6251 non-null   object
 8   county_fips             6251 non-null   float64
 9   county_name             6251 non-null   object
 10  region_code             6251 non-null   float64
 11  region_name             6251 non-null   object
 12  strata_name_code        6251 non-null   float64
 13  strata_name             6251 non-null   object
 14  strata_level_name_code  6251 non-null   float64
 15  strata_level_name       6251 non-null   object
 16  numerator               6251 non-null   float64
 17  denominator             6251 non-null   float64
 18  rate                    6251 non-null   float64
 19  ll_95ci                 6251 non-null   float64
 20  ul_95ci                 6251 non-null   float64
 21  se                      6251 non-null   float64
 22  rse                     6251 non-null   float64
 23  ca_decile               6251 non-null   float64
 24  ca_rr                   6251 non-null   float64
 25  dof_population          6251 non-null   float64
 26  version                 6251 non-null   object
dtypes: float64(17), object(10)
memory usage: 1.3+ MB